---
import { ESO_API_URL } from "@/consts";
import { md2html } from "@/utils";
import ListLayout from "@/layouts/ListLayout.astro";

const query = new URLSearchParams();
query.set("sort[0]", "id:asc");
query.set("populate", "*");

const response = await fetch(`${ESO_API_URL}/api/skill-lines?${query}`);
const result = await response.json();
const data = result?.data;

const content = `
在上古卷轴OL中具有不同技能线。**玩家只需要把技能放入操作栏里面，就可以升级该技能**。有 3 种类型的技能：被动技能、主动技能和终极技能。

- **被动技能** 始终提供加成。有些被动技能需要装备某些物品或放置主动技能。

  在大多数情况下，使用同一系列的主动技能可以升级被动技能。在其他情况下，例如制作技能，可以通过制作物品或研究物品来实现。每次升级都会花费 1 个额外的技能点。一些被动技能不需要花费技能点，而是在某些情况下免费提供。例如，每个种族都会获得 1 个免费的被动，这会增加他们在给定技能下的经验增益。每个制作技能的第一个技能都是免费的。有与成为狼人或吸血鬼相关的免费被动技能，以及一些由你的联盟拥有的保持和资源提供的技能，如果你参加联盟战争。所有现任皇帝也会获得一些免费的被动技能。

- **主动技能** 是使用最多的技能。操作栏中最多可以有 5 个插槽，默认情况下绑定到 1-5 个键。

  在角色等级 15 时，会获得武器切换功能，此时你将获得额外的 5 个技能插槽。
  
  与被动技能一样，一旦达到技能线中的某个级别，它们就会可用。每个主动技能有 4 个等级，之后他们可能会变成新版本。您将有 2 个变形选项，它们为技能添加不同的效果。变形技能需要额外的技能点。一旦一个技能被变形，它的等级可以再增加 4 倍，但可能不会再次变形（所以你不能同时获得任何技能的变形加成）。
  
  使用主动技能将提高技能系中的整体水平，随着您的进步，新技能变得可用。

- **终极技能** 类似于主动技能，但不像大多数主动技能那样使用耐力或魔法，而是使用称为[终极点](/attribute/ultimate)的第三种资源。

  随着战斗时间的流逝，终极点会生成，并且在你施展终极技能时完全耗尽（只有一个例外: [过载](/skill/overload)）。
  
  每个技能线只有 1 个终极技能。与主动技能一样，它们在技能等级达到一定等级后可用或者提升，并且可以在等级 IV 后变形为新技能。您每次只能获得 1 个终极技能（如果您在达到 15 级后可以切换武器，则有 2 个）。
  
  默认情况下，它绑定到 \`R\` 键。

<h2 id="guide">攻略</h2>

- [如何获取技能点数](/guide/earning-skill-points)
`;
---

<ListLayout
  name="技能"
  nameEn="Skill"
  description="在上古卷轴OL中具有不同技能线。玩家只需要把技能放入操作栏里面，就可以升级该技能。有 3 种类型的技能：被动技能、主动技能和终极技能。"
>
  <Fragment set:html={md2html(content)} />
</ListLayout>
