---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import { SITE_TITLE, SITE_DESCRIPTION, CDN_URL } from "@/consts";
import { Content as About } from "../../README.md";
---

<html lang="zh-CN">
  <head>
    <HeaderMeta title={`攻略 - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    <link rel="stylesheet" href={`${CDN_URL}/assets/gfm-fba346.css`} />
  </head>

  <body class="bg-[#ededed]">
    <HeaderNav />

    <main class="flex flex-col items-center h-full">
      <div class="max-w-3xl w-full">
        <div class="rounded-lg shadow-lg p-4">
          <div class="mt-4 markdown-body bg-[#ededed]">
            <About />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
