---
import contributors from "@/data/contributors.json";
import { Content as About } from "../../README.md";
import ListLayout from "@/layouts/ListLayout.astro";

export const prerender = true;
---

<ListLayout>
  <About />
  <h2>贡献者名单</h2>
  <p class="flex space-x-1 overflow-hidden">
    {
      contributors.map((contributor) => (
        <a
          href={contributor.html_url}
          target="_blank"
          rel="noopener noreferrer"
          title={contributor.login}
        >
          <img
            src={contributor.avatar_url}
            alt={contributor.login}
            class="inline-block h-8 w-8 rounded-full ring-2 ring-transparent"
          />
        </a>
      ))
    }
  </p>
</ListLayout>
