---
import ListLayout from "@/layouts/ListLayout.astro";
---

<ListLayout name="工具" nameEn="Tool">
  <p>本页面提供一些有用的上古卷轴 OL 工具。</p>
  <ul>
    <li>
      <a href="/tool/minion">Minion 汉化版</a> - Minion 是一个用于管理、下载、更新上古卷轴
      OL 插件的工具。
    </li>
    <li>
      <a href="/map">地图</a> - 用于上古卷轴 OL 的在线可交互地图。
    </li>
    <li>
      <a href="/serverstatus">服务器状态</a> - 上古卷轴 OL 当前服务器状态
    </li>
  </ul>
</ListLayout>
