---
import HeaderNav from "@/components/HeaderNav.astro";
import HeaderMeta from "@/components/HeaderMeta.astro";
import { SITE_TITLE, SITE_DESCRIPTION, CDN_URL, ESO_API_URL } from "@/consts";
import Footer from "@/components/Footer.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";

export const prerender = true;
---

<html lang="zh-CN">
  <head>
    <HeaderMeta
      title={`Minion 汉化版 - ${SITE_TITLE}`}
      description="Minion 是一款上古卷轴 OL 插件管理工具。可以非常方便的管理上古卷轴 OL 插件，包括自动下载、更新、备份插件。"
    />
    <link rel="stylesheet" href={`${CDN_URL}/assets/gfm-fba346.css`} />
  </head>

  <body>
    <HeaderNav />
    <div class="py-6 pb-12 sm:py-8 sm:pb-16 lg:py-10 lg:pb-20">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="sm:text-center">
          <h1
            class="mt-2 text-3xl font-bold tracking-tight text-indigo-600 sm:text-4xl"
          >
            Minion 汉化版 - 插件管理工具
          </h1>
          <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600">
            Minion 是一款上古卷轴 OL 插件管理工具。可以非常方便的管理上古卷轴 OL
            插件，包括自动下载、更新、备份插件。也是
            <a
              class="text-indigo-500 hover:underline hover:text-indigo-800"
              href="https://www.esoui.com"
              target="_blank"
              rel="nofollow noopener noreferrer">esoui</a
            > 官方推荐的插件管理工具。
          </p>
          <p class="my-8 flex gap-x-4 justify-center">
            <a
              href="https://eso-cdn.denohub.com/dl/minion-3.0.11.zip"
              download="Minion汉化版.zip"
              class="inline-block rounded-lg bg-indigo-600 px-6 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700"
            >
              下载<span class="hidden sm:inline"> Minion 汉化版</span>
            </a>
            <a
              href="#install"
              class="inline-block rounded-lg px-6 py-1.5 text-base font-semibold leading-7 text-gray-900 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
            >
              安装教程
              <span class="text-gray-400" aria-hidden="true">&rarr;</span>
            </a>
          </p>
        </div>

        <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none">
          <div
            class="grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-12 md:gap-y-16"
          >
            <div
              class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
            >
              <div
                class="flex h-12 w-12 items-center justify-center rounded-xl bg-indigo-500 text-white sm:shrink-0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
                  ></path>
                </svg>
              </div>
              <div class="sm:min-w-0 sm:flex-1">
                <p class="text-lg font-semibold leading-8 text-gray-900">
                  安装
                </p>
                <p class="mt-2 text-base leading-7 text-gray-600">
                  方便快捷的安装插件！Minion
                  可以自动从官方插件管理网站搜索需要的插件，然后非常方便并且快速的安装这些插件！
                </p>
              </div>
            </div>

            <div
              class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
            >
              <div
                class="flex h-12 w-12 items-center justify-center rounded-xl bg-indigo-500 text-white sm:shrink-0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
                  ></path>
                </svg>
              </div>
              <div class="sm:min-w-0 sm:flex-1">
                <p class="text-lg font-semibold leading-8 text-gray-900">
                  更新
                </p>
                <p class="mt-2 text-base leading-7 text-gray-600">
                  自动使所有插件保持最新状态。Minion
                  会自动检测插件是否有更新并且自动更新这些插件。
                </p>
              </div>
            </div>

            <div
              class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
            >
              <div
                class="flex h-12 w-12 items-center justify-center rounded-xl bg-indigo-500 text-white sm:shrink-0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z"
                  ></path>
                </svg>
              </div>
              <div class="sm:min-w-0 sm:flex-1">
                <p class="text-lg font-semibold leading-8 text-gray-900">
                  管理
                </p>
                <p class="mt-2 text-base leading-7 text-gray-600">
                  安全、快捷、方便的管理所有插件。可以轻松的启用、禁用、删除插件。方便的管理插件的配置文件。
                </p>
              </div>
            </div>

            <div
              class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row"
            >
              <div
                class="flex h-12 w-12 items-center justify-center rounded-xl bg-indigo-500 text-white sm:shrink-0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125"
                  ></path>
                </svg>
              </div>
              <div class="sm:min-w-0 sm:flex-1">
                <p class="text-lg font-semibold leading-8 text-gray-900">
                  备份
                </p>
                <p class="mt-2 text-base leading-7 text-gray-600">
                  备份或者还原所有插件的设置以及保存的变量值。Minion
                  会自动备份所有插件的设置，你可以随时还原这些设置。
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none markdown-body">
          <h2 id="preview">预览</h2>
          <p class="grid gap-2 md:grid-cols-2">
            <img
              class="flex-auto"
              src="https://eso-cdn.denohub.com/imgs/minion-1.png"
              alt="Minion 汉化版"
            />
            <img
              class="flex-1"
              src="https://eso-cdn.denohub.com/imgs/minion-2.png"
              alt="Minion 汉化版 - 设置"
            />
          </p>

          <h2 id="install">安装教程</h2>
          <p>
            Minion 汉化版是一款免安装版的绿色软件。先<a
              href="https://eso-cdn.denohub.com/dl/minion-3.0.11.zip"
              download="Minion汉化版.zip"
              title="Minion 汉化版">下载</a
            >软件并解压，双击 Minion.exe 即可运行。
          </p>
          <p>如果想卸载 Minion 汉化版，只需要把文件夹删除即可。</p>
          <h2 id="useage">使用说明</h2>
          <p>正在撰写。。。</p>
        </div>
      </div>
    </div>
    <Footer />
    <ScrollToTop />
  </body>
</html>
