<footer class="bg-neutral-900 mt-10">
  <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8 text-neutral-400">
    <p class="my-4">
      <a
        href="/about"
        class="text-blue-300 hover:text-neutral-300 hover:underline"
        >关于本网站</a
      >
      -
      <a
        href="/serverstatus"
        class="text-blue-300 hover:text-neutral-300 hover:underline"
        >服务器状态</a
      > -
      <a
        href="/map"
        class="text-blue-300 hover:text-neutral-300 hover:underline">地图</a
      > -
      <a
        href="https://github.com/justjavac/esowiki"
        class="text-blue-300 hover:text-neutral-300 hover:underline inline-flex"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >源码<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="self-center"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
          ></path>
        </svg>
      </a>
      -
      <a
        href="https://github.com/CGQAQ/esowiki_flutter"
        class="text-blue-300 hover:text-neutral-300 hover:underline inline-flex"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >手机版<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="self-center"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
          ></path>
        </svg></a
      >
    </p>
    <p class="my-4">
      上古卷轴OL攻略 © 2022-2023。本网站由
      <a
        href="https://github.com/justjavac"
        class="text-blue-300 hover:text-neutral-300 hover:underline"
        target="_blank"
        rel="noopener noreferrer nofollow">@justjavac</a
      > 开发并维护。All Rights Reserved.
    </p>
  </div>
</footer>

<script src="../scripts/tooltip.ts"></script>
