<footer class="bg-neutral-900 mt-10">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8 text-neutral-400">
    copyright 2022 -
    <a href="https://github.com/justjavac" class="hover:text-neutral-300">
      @justjavac
    </a>
  </div>
</footer>

<script src="../scripts/tooltip.ts"></script>
