---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, CDN_URL } from "@/consts";

const menus = [
  {
    href: "/news",
    title: "新闻",
  },
  {
    href: "/guide",
    title: "攻略",
  },
  {
    href: "/quest",
    title: "任务",
  },
  {
    href: "/addon",
    title: "插件",
  },
  {
    href: "/map",
    title: "地图",
  },
  {
    href: "/about",
    title: "关于",
  },
];
---

<header
  id="page-top"
  class="px-3 h-12 md:h-20 text-gray-500 flex items-center md:px-8"
>
  <a class="flex items-center flex-shrink-0" href="/">
    <img src={`${CDN_URL}/ico/eso.ico`} alt="" />
    <span class="ml-4 text-2xl text-gray-900 font-bold">{SITE_TITLE}</span>
  </a>
  <nav class="flex items-center">
    {
      menus.map(({ href, title }) => (
        <HeaderLink href={href}>{title}</HeaderLink>
      ))
    }
    <label
      class="md:hidden ml-4 bg-transparent border-none cursor-pointer"
      for="fullscreennav-toggle"
    >
      <svg viewBox="0 0 28 20" width="24" height="24">
        <rect width="28" height="4" rx="4"></rect>
        <rect y="8" width="28" height="4" rx="4"></rect>
        <rect y="16" width="28" height="4" rx="4"></rect>
      </svg>
    </label>
  </nav>
</header>
