---
import { CDN_URL } from "@/consts";

export interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="shortcut icon" type="image/x-icon" href={`${CDN_URL}/ico/eso.ico`} />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="description" content={description} />

<script is:inline>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?72db0bea07113e3948629f55bd6a6d22";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
