---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, CDN_URL } from "@/consts";

const menus = [
  {
    href: "/news",
    title: "新闻",
  },
  // {
  //   href: "/guide",
  //   title: "攻略",
  // },
  {
    href: "/quest",
    title: "任务",
  },
  {
    href: "/build",
    title: "构建",
  },
  // {
  //   href: "/addon",
  //   title: "插件",
  // },
  {
    href: "/set",
    title: "套装",
  },
  {
    href: "/map",
    title: "地图",
  },
  {
    href: "/about",
    title: "关于",
  },
];
---

<header
  id="page-top"
  class="px-3 h-12 md:h-20 text-gray-500 md:flex items-center md:px-8"
>
  <div class="flex justify-between items-center">
    <a class="flex items-center flex-shrink-0" href="/">
      <img src={`${CDN_URL}/ico/eso.ico`} alt="" />
      <span class="ml-4 text-2xl text-gray-900 font-bold">{SITE_TITLE}</span>
    </a>
    <label
      class="md:hidden ml-4 bg-transparent border-none cursor-pointer"
      for="fullscreennav-toggle"
      id="toggle-menu"
    >
      <svg viewBox="0 0 28 20" width="24" height="24">
        <rect width="28" height="4" rx="4"></rect>
        <rect y="8" width="28" height="4" rx="4"></rect>
        <rect y="16" width="28" height="4" rx="4"></rect>
      </svg>
    </label>
  </div>
  <nav class="items-center hidden md:flex">
    <ul
      class="flex flex-col md:flex-row md:self-center w-full text-xl md:text-base"
    >
      {
        menus.map(({ href, title }) => (
          <li>
            <HeaderLink href={href}>{title}</HeaderLink>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script is:inline>
  window.onload = function () {
    const menuIcon = document.querySelector("#toggle-menu");
    menuIcon.addEventListener("click", () => {
      menuIcon.classList.toggle("expanded");
      document.body.classList.toggle("overflow-hidden");
      document.getElementById("page-top")?.classList.toggle("h-screen");
      document.querySelector("#page-top nav")?.classList.toggle("hidden");
      document.querySelector("#area-list")?.classList.toggle("hidden");
      document.querySelector("astro-island")?.classList.toggle("hidden");
      const matches = document.querySelectorAll("astro-island");
      if (matches && matches.length) {
        matches.forEach((elem) => {
          elem?.classList.toggle("hidden");
        });
      }
    });
  };
</script>
