---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href ? pathname.startsWith(href.toString()) : false;
---

<a
  href={href}
  class:list={[
    {
      "font-bold": isActive,
    },
    "leading-5 opacity-60 text-black text-no-underline hover:underline focus:underline whitespace-nowrap",
  ]}
  {...props}
>
  <slot />
</a>
