---
export interface Props {
  page: number;
  pageCount: number;
  pageSize: number;
  total: number;
}

const { page, pageCount, pageSize, total } = Astro.props;

const pageList = [];
if (pageCount <= 7) {
  for (let i = 1; i <= pageCount; i++) {
    pageList.push(i);
  }
} else {
  if (page <= 4) {
    for (let i = 1; i <= 5; i++) {
      pageList.push(i);
    }
    pageList.push("...");
    for (let i = pageCount - 2; i <= pageCount; i++) {
      pageList.push(i);
    }
  } else if (page >= pageCount - 3) {
    pageList.push(1);
    pageList.push("...");
    for (let i = pageCount - 4; i <= pageCount; i++) {
      pageList.push(i);
    }
  } else {
    pageList.push(1);
    pageList.push("...");
    for (let i = page - 2; i <= page + 2; i++) {
      pageList.push(i);
    }
    pageList.push("...");
    pageList.push(pageCount);
  }
}

function createUrl(page: number | string): string {
  Astro.url.searchParams.set("page", String(page));
  return Astro.url.toString();
}
---

<div class="flex items-center justify-between py-3">
  <div class="flex flex-1 justify-between sm:hidden">
    <a
      href={createUrl(page - 1)}
      class="relative inline-flex items-center rounded-md border border-gray-300 px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-20"
    >
      上一页
    </a>
    <a
      href={createUrl(page + 1)}
      class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-20"
    >
      下一页
    </a>
  </div>
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        显示第
        <span class="font-medium">{(page - 1) * pageSize + 1}</span>
        到
        <span class="font-medium">{page * pageSize}</span>
        条，共
        <span class="font-medium">{total}</span>
        条结果。
      </p>
    </div>
    <div>
      <nav
        class="isolate inline-flex -space-x-px rounded-md shadow-sm"
        aria-label="Pagination"
      >
        {
          page > 1 ? (
            <a
              href={createUrl(page - 1)}
              class="relative inline-flex items-center rounded-l-md border border-gray-300 px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20"
            >
              <span class="sr-only">上一页</span>
              <svg
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          ) : (
            <span class="relative inline-flex items-center rounded-l-md border border-gray-300 px-2 py-2 text-sm font-medium text-gray-500 bg-gray-50 cursor-not-allowed">
              <span class="sr-only">上一页</span>
              <svg
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
          )
        }
        {
          pageList.map((x) =>
            x === "..." ? (
              <span class="inline-flex items-center border border-gray-300 px-4 py-2 text-sm font-medium text-gray-700 cursor-not-allowed">
                ...
              </span>
            ) : (
              <a
                href={createUrl(x)}
                class={`relative inline-flex items-center border px-4 py-2 text-sm font-medium hover:bg-gray-50 focus:z-20 ${
                  x === page
                    ? "z-10 bg-indigo-50 border-indigo-500 text-indigo-600"
                    : "border-gray-300 text-gray-500 "
                }`}
              >
                {x}
              </a>
            )
          )
        }

        {
          page < pageCount ? (
            <a
              href={createUrl(page + 1)}
              class="relative inline-flex items-center rounded-r-md border border-gray-300 px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20"
            >
              <span class="sr-only">下一页</span>
              <svg
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          ) : (
            <span class="relative inline-flex items-center rounded-r-md border border-gray-300 px-2 py-2 text-sm font-medium text-gray-500 bg-gray-50 cursor-not-allowed">
              <span class="sr-only">下一页</span>
              <svg
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
          )
        }
      </nav>
    </div>
  </div>
</div>
