---
---

<a
  class="fixed right-4 bottom-4 inline-flex rounded w-10 h-10 items-center text-white bg-gray-600 hover:text-gray-100 hover:bg-gray-400"
  href="#page-top"
>
  <svg
    class="mx-auto"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    aria-hidden="true"
    fill="currentColor"
  >
    <path
      fill-rule="evenodd"
      d="M13.204 3.107a1.75 1.75 0 0 0-2.408 0L3.806 9.73c-1.148 1.088-.378 3.02 1.204 3.02h2.24V20c0 .966.784 1.75 1.75 1.75h6A1.75 1.75 0 0 0 16.75 20v-7.25h2.24c1.582 0 2.353-1.932 1.204-3.02l-6.99-6.623Z"
      clip-rule="evenodd"></path>
  </svg>
</a>
