---
export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="可交互的 ESO Map (上古卷轴OL)，可以查找天空碎片，任务，藏宝图，套装，地牢，等等"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title && `${title} - `}上古卷轴OL在线地图 - Elder Scrolls Online Map</title>
  </head>
  <body>
    <slot />
  </body>
</html>

